.face{
    height: 250px;
    width: 250px;
    background-color: peachpuff;
    border-radius: 50%;
    margin: auto;
    margin-top: -80px;
    position: relative;
    border: 2px solid black;
}
.ears{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 250px;
    margin: auto;
    margin-top: 10%;
}
#lear{
    height: 90px;
    width: 100px;
    background-color: peachpuff;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border: 2px solid black;
}
#rear{
    height: 90px;
    width: 100px;
    background-color: peachpuff;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border: 2px solid black
}
.eyes{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 250px;
    margin-top: 20%;
}
#leye{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
}
#lpup{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 20%;
}
#reye{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
      
}
#rpup{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    margin-top: 20%;
    margin-left: 20%;
}
.mouth{
    height: 60px;
    width: 100px;
    display: flex;
    position: absolute;
    background-color: red;
    margin: auto;
    border: 2px solid black;
    margin-top: 55%;
    margin-left:30%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    width: 100px;
    justify-content: space-evenly;
}
.hole1{
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    margin-top: 15%;
    margin-left: 0%;
}
.hole2{
    height: 25px;
    width: 25px;
    background-color:black;
    border-radius: 50%;
    margin-top: 16%;
    margin-left: -10%;
}